
body {
  font-family: 'Orbitron', sans-serif; /* გამოყენებული ფონტები(ნებისმიერი)  */
  background-color: #000;
  color: white;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  background-color: #0d103f;
  padding: 20px;
  text-align: center;
  position: relative; 
}

header h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}


.hero {
  background: url('gatestvaimages/space.jpg') no-repeat center center/cover;
  padding: 100px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ff6f00;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

/*გამოყენებულია ჰოვერ ეფექტები(transitions, hover effects) */
.cta-button:hover {
  background-color: #e65100;
}


.solar-preview {
  text-align: center;
  padding: 60px 20px;
}

.solar-image {
  width: 100%;
  max-width: 700px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}


#contact {
  padding: 60px 20px;
  background-color: #111;
  text-align: center;
}

#signupForm {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#signupForm input {
  padding: 10px;
  font-size: 1em;
  border-radius: 4px;
  border: none;
}

.password-container {
  display: flex;
  align-items: center;
}

#togglePassword {
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}

#formMessage {
  color: lightgreen;
  margin-top: 10px;
}


footer {
  background-color: #222;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.footer-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .hero h2 {
    font-size: 2rem;
  }

  .cta-button {
    padding: 10px 18px;
  }

  .solar-image {
    width: 90%;
  }
}

#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: background-color 0.3s;
}


#burger {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
}

/* (1024px;768px;480px;320px) */
@media (max-width: 768px) {
  #burger {
    display: block;
    margin-left: auto;
  }

  .navbar {
    display: none;
    flex-direction: column;
    background-color: #111;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 10px;
    border-radius: 8px;
  }

  .navbar.show {
    display: flex;
  }
}